/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*RESET CSS BEGINS*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output,ruby, section, summary,time, mark, audio, video {margin: 0;
padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/*RESET CSS ENDS*/

/*General Body CSS*/
body {font-family: 'Roboto', sans-serif; background-color: #000;color: #fff;border: none !important;}
body, header, footer, .content_wrapper, .content_wrapper .home, .content_wrapper .about, .content_wrapper .schdl, .content_wrapper .speakers, .content_wrapper .workshops, .content_wrapper .competitions, .content_wrapper .extras, .content_wrapper .partners, .content_wrapper .venue_sec, .content_wrapper .contact{width: 100%; height: auto;border: none;display: block;}

@font-face {
    font-family: gothamBlack;
    src: url(../fonts/gotham-black.ttf);
}

/*Header Navigation Css*/
.main_header{float: left;border: 0;background: #000;padding: 20px 100px;position: fixed;top: 0;z-index: 30;border: none;}
.main_header .nid_logo{display:block;float:left;margin:0;width:40%;height:40px;z-index:20;background: url(../img/NID_white_logo.png) no-repeat left/auto 35px;}
.main_header .main_menu{display:block;float:left;margin:0;width:60%;height:40px;z-index:20;text-align: right;}
.main_header .main_menu p{display: block;float: left;height: 100%;width: 100%;vertical-align: bottom;margin: 10px 0;}

/*Content Wrapper css*/
.content_wrapper{margin-top: 80px;}

/*Menu elements start here*/

.open {position: relative;top: 0;right: 0;width: 100%;height: auto;display: block;cursor: pointer;z-index: 20;-webkit-transition: opacity 0.2s linear;transition: opacity 0.2s linear;}
.open:hover {opacity: 0.8;}
.open span {display: block;float: left;clear: both;height: 2px;width: 30px;border-radius: 40px;background-color: #fff;position: absolute;right: -5px;top: 3px;z-index: 19;overflow: hidden;-webkit-transition: all 0.4s ease;transition: all 0.4s ease;}
.open span:nth-child(1) {margin-top: 10px;z-index: 19;}
.open span:nth-child(2) {margin-top: 20px;z-index: 19;}
.open span:nth-child(3) {margin-top: 30px;z-index: 19;}
.sub-menu {-webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);height: 0;width: 0;right: 0;top: 20px;position: absolute;background-color: rgba(152, 44, 255,0.9);border-radius: 1%;z-index: 23;overflow: hidden;}
.sub-menu li {display: block;float: right;clear: both;height: auto;margin-right: -160px;-webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);}
.sub-menu li:first-child {margin-top: 190px;}
.sub-menu li:nth-child(1) {-webkit-transition-delay: 0.05s;}
.sub-menu li:nth-child(2) {-webkit-transition-delay: 0.10s;}
.sub-menu li:nth-child(3) {-webkit-transition-delay: 0.15s;}
.sub-menu li:nth-child(4) {-webkit-transition-delay: 0.20s;}
.sub-menu li:nth-child(5) {-webkit-transition-delay: 0.25s;}
.sub-menu li:nth-child(6) {-webkit-transition-delay: 0.35s;}
.sub-menu li:nth-child(7) {-webkit-transition-delay: 0.35s;}
.sub-menu li:nth-child(8) {-webkit-transition-delay: 0.40s;}
.sub-menu li:nth-child(9) {-webkit-transition-delay: 0.45s;}
.sub-menu li:nth-child(10) {-webkit-transition-delay: 0.50s;}
.sub-menu li a {color: #fff;font-family: 'Lato', Arial, Helvetica, sans-serif;font-size: 16px;width: 100%;display: block;float: left;line-height: 40px;}
.oppenned .sub-menu {opacity: 1;height: 880px;width: 600px;}
.oppenned span:nth-child(2) {overflow: visible;}
.oppenned span:nth-child(1), .oppenned span:nth-child(3) {z-index: 100;-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.oppenned span:nth-child(1) {-webkit-transform: rotate(45deg) translateY(12px) translateX(12px);transform: rotate(45deg) translateY(12px) translateX(12px);}
.oppenned span:nth-child(2) {height: 880px;width: 580px;right: -400px;top: -170px;border-radius: 2%; transform:rotate(-15deg); background-color: rgba(152, 44, 255, 1);}
.oppenned span:nth-child(3) {-webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px);transform: rotate(-45deg) translateY(-3px) translateX(2px);}
.oppenned li {margin-right: 400px;}
.button {display: block;float: left;clear: both;padding: 20px 40px;background: #fff;border-radius: 3px;border: 2px solid #10a1ea;overflow: hidden;position: relative;}
.button:after {-webkit-transition: -webkit-transform 0.3s ease;transition: -webkit-transform 0.3s ease;transition: transform 0.3s ease;transition: transform 0.3s ease, -webkit-transform 0.3s ease;content: "";position: absolute;height: 200px;width: 400px;-webkit-transform: rotate(45deg) translateX(-540px) translateY(-100px);transform: rotate(45deg) translateX(-540px) translateY(-100px);background: #10a1ea;z-index: 20;}
.button:before {-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition: -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);content: attr(title);position: absolute;top: 0;left: 0;width: 100%;height: 100%;color: #fff;z-index: 19;text-align: center;padding: 20px 40px;-webkit-transform: translateY(200px);transform: translateY(200px);}
.button:hover {text-decoration: none;}
.button:hover:after {-webkit-transform: translateX(-300px) translateY(-100px);transform: translateX(-300px) translateY(-100px);}
.button:hover:before {-webkit-transform: translateY(0);transform: translateY(0);}
/*Menu elements end here*/

/*Home Section Css*/
.content_wrapper .home{display: block;float: left;background:url(../img/star_tiny.png) no-repeat center/cover;height: auto;width: 100%;padding: 10px 100px 50px;position: relative;}
.home .logo_container, .home .register_btn, .home .options{display: block;float: left;width: 100%;height: auto;border: none;text-align: center;padding: 0 0 40px;}
.home .register_btn a {border: 1px solid #982cff;color: #17ffdd;font-size: 14px;padding: 10px 20px;margin: 0;text-decoration: none;vertical-align: middle;}
.home .register_btn a:hover{background: #17ffdd;color: #982cff;}
.home .register_btn{border: none;position: relative;z-index: 20;}
.home .options{display: block;float: left;width: 100%; height: auto;border: none;position: relative;z-index: 20;}
.home .options .date, .home .options .venue, .home .options .schedule{display: block;float: left;width: 33.33%; height: auto;}
.home .options .date a, .home .options .venue a, .home .options .schedule a{display: block;float: left;width: 100%;height: auto;color: #fff;cursor: pointer;}
.home .options .date a i, .home .options .venue a i, .home .options .schedule a i{font-size: 4em;width: 100%;margin-bottom: 25px;color: #982cff;}
.home .options .date a span, .home .options .venue a span, .home .options .schedule a span{width: 100%;text-align: center;font-size: 1.2em;font-family: 'gotham-black', sans-serif; font-weight: 700;}
#home .shadow-overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: .9;
  background: -moz-linear-gradient(left, black 0%, black 20%, transparent 100%);  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, black 0%, black 20%, transparent 100%);  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, black 0%, black 20%, transparent 100%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);  /* IE6-9 */}
#home .row {max-width: 1290px;}
#home.home-static {background-image: url(../images/home-bg.jpg) no-repeat center;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;}
#home.home-particles {overflow: hidden;background: #020507 /*url('../img/star_mid.png') no-repeat center/ 100%*/;}
#home.home-particles .pg-canvas {position: absolute;top: 0;left: 0;height: 100% !important;width: 100% !important;opacity: .50;background: url('../img/star_tiny.png') no-repeat center/ cover;z-index: 1 !important;}
#home.home-particles .shadow-overlay {display: none;}
#home.home-slides {height: 100% !important;}
#menu_content {rotate:transform(10deg); float: right;}

@-webkit-keyframes vertical {
  0%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
  20% {-webkit-transform: translateY(-5px);}
  40% {-webkit-transform: translateY(20px);}
}
@keyframes vertical {
  0%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
  20% {-webkit-transform: translateY(-5px);}
  40% {-webkit-transform: translateY(20px);}
}

/* DFrost Logo css */
.home .logo_container {display: block; float:left; height: 100%;min-height: 450px; width: 100%; margin:-70px 0 60px 0;position: relative;}
.home .logo_container #logo_back {display:block;float: left;position: absolute; z-index: 8; background: url("../img/layer1.svg") no-repeat 10px 10px/30%;top: 80px; left: 45%; margin-left: -130px; height: inherit; width: inherit; -moz-animation-duration: 1s;   -webkit-animation-duration: 1s;   animation-duration: 1s;}
.home .logo_container #logo_mid {display:block;float: left;position: absolute; z-index: 9; background: url("../img/layer2.svg") no-repeat 10px 10px/30%;top: 80px; left: 45%; margin-left: -130px; height: inherit; width: inherit; -moz-animation-duration: 2s;   -webkit-animation-duration: 2s;   animation-duration: 2s;}
.home .logo_container #logo_front {display:block;float: left;position: absolute; z-index: 10; background: url("../img/layer3.svg") no-repeat 10px 10px/30%;top: 80px; left: 45%; margin-left: -130px; height: inherit; width: inherit; -moz-animation-duration: 3s;  -webkit-animation-duration: 3s;   animation-duration: 3s;}
/*.home #calendar {background: url("../img/icons/calendar.svg") no-repeat}
.home #venue {background: url("../img/icons/location.svg") no-repeat}
.home #schedule {background: url("../img/icons/schedule.svg") no-repeat}*/
.home .options img {width: 50px;}
/*About Section*/
.content_wrapper .about{display: block;float: left;background:url(../img/bg/backgrounds-01.jpg) no-repeat center/cover; box-shadow: inset 0 0 0 1000px rgba(152,44,255,0.1); height: auto;width: 100%;padding: 100px 100px 50px;}
.content_wrapper .about .section_icon{display: block;float: left;width: 15%;height: auto;}
.content_wrapper .about .cnt{display: block;float: left;width: 37%;height: auto;}
.content_wrapper .about .cnt p{display:block;float: left;font-size: 0.8em;line-height: 1.8em;color: #999;padding: 30px 0 0 0;}
.content_wrapper .about .cnt h2{display:block;float: left;font-size: 1.4em;}
.content_wrapper .about .section_icon .ico{display: block;float: left;width: 120px;height: auto;}

/*Schedule Section css*/
.content_wrapper .schdl{display: block;float: left;background:url(../img/bg/backgrounds-02.jpg) no-repeat center/cover; box-shadow: inset 0 0 0 1000px rgba(23,255,221,0.1); height: 700px;width: 100%;padding: 100px 100px 50px;}
.content_wrapper .schdl .section_icon{display: block;float: left;width: 15%;height: auto;}
.content_wrapper .schdl .section_icon .ico{display: block;float: left;width: 120px;height: auto;}

/*Speakers Section css*/
.content_wrapper .speakers{display: block;float: left;background:url(../img/bg/backgrounds-03.jpg) no-repeat center/cover; box-shadow: inset 0 0 0 1000px rgba(255,0,195,0.1); height: 700px;width: 100%;padding: 100px 100px 50px;}
.content_wrapper .speakers .section_icon{display: block;float: left;width: 15%;height: auto;}
.content_wrapper .speakers .section_icon .ico{display: block;float: left;width: 120px;height: auto;}

/*Workshops css*/
.content_wrapper .workshops{display: block;float: left;background:url(../img/bg/backgrounds-05.jpg) no-repeat center/cover; box-shadow: inset 0 0 0 1000px rgba(152,44,255,0.1); height: 700px;width: 100%;padding: 100px 100px 50px;}
.content_wrapper .workshops .section_icon{display: block;float: left;width: 15%;height: auto;}
.content_wrapper .workshops .section_icon .ico{display: block;float: left;width: 120px;height: auto;}

/*Competitions Section css*/
.content_wrapper .competitions{display: block;float: left;background:url(../img/bg/backgrounds-07.jpg) no-repeat center/cover; box-shadow: inset 0 0 0 1000px rgba(255,0,195,0.1); height: 700px;width: 100%;padding: 100px 100px 50px;}
.content_wrapper .competitions .section_icon{display: block;float: left;width: 15%;height: auto;}
.content_wrapper .competitions .section_icon .ico{display: block;float: left;width: 120px;height: auto;}

/*Extras Section css*/
.content_wrapper .extras{display: block;float: left;background:url(../img/bg/backgrounds-08.jpg) no-repeat center/cover; box-shadow: inset 0 0 0 1000px rgba(23,255,221,0.1); height: 700px;width: 100%;padding: 100px 100px 50px;}
.content_wrapper .extras .section_icon{display: block;float: left;width: 15%;height: auto;}
.content_wrapper .extras .section_icon .ico{display: block;float: left;width: 120px;height: auto;}

/*Partners Section css*/
.content_wrapper .partners{display: block;float: left;background:url(../img/bg/backgrounds-09.jpg) no-repeat center/cover; box-shadow: inset 0 0 0 1000px rgba(152,44,255,0.1); height: 700px;width: 100%;padding: 100px 100px 50px;}
.content_wrapper .partners .section_icon{display: block;float: left;width: 15%;height: auto;}
.content_wrapper .partners .section_icon .ico{display: block;float: left;width: 120px;height: auto;}

/*Venue Section css*/
.content_wrapper .venue_sec{display: block;float: left;background:url(../img/bg/backgrounds-10.jpg) no-repeat center/cover; box-shadow: inset 0 0 0 1000px rgba(255,0,195,0.1); height: 700px;width: 100%;padding: 100px 100px 50px;}
.content_wrapper .venue_sec .section_icon{display: block;float: left;width: 15%;height: auto;}
.content_wrapper .venue_sec .section_icon .ico{display: block;float: left;width: 120px;height: auto;}

/*Contact Section css*/
.content_wrapper .contact{display: block;float: left;background:url(../img/bg/backgrounds-06.jpg) no-repeat center/cover; box-shadow: inset 0 0 0 1000px rgba(23,255,221,0.1); height: 700px;width: 100%;padding: 100px 100px 50px;}
.content_wrapper .contact .section_icon{display: block;float: left;width: 15%;height: auto;}
.content_wrapper .contact .section_icon .ico{display: block;float: left;width: 120px;height: auto;}

/*Footer css*/
.main_footer{display: block;float: left;width: 100%;padding: 30px 100px;height: auto;background: #212130;color: #8d8d8d;border: none;}
.main_footer .social_wrap, .main_footer .footer_content{display: block;float: left;}
.main_footer .footer_content{width: 85%;height: auto;}
.main_footer .social_wrap{width: 15%;height: auto;}
.main_footer .social_wrap ul li a i{font-size:1.4em;color:#8d8d8d;}
.main_footer .social_wrap ul li a:hover i{color:#17ffdd;}
.main_footer .social_wrap ul{display: block;}
.main_footer .social_wrap ul li{display: inline-block;width: 18%;}

/*fadeInup class for background set*/
.revealOnScroll {
  opacity: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px) translateX(60px);
    transform: translateY(60px) translateX(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0px);
    transform: translateY(0) translateX(0px);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px) translateX(60px);
    -ms-transform: translateY(60px) translateX(60px);
    transform: translateY(60px) translateX(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0px);
    -ms-transform: translateY(0) translateX(0px);
    transform: translateY(0) translateX(0px);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
/******FADEIN UP END****/

/******FADEIN DOWN START****/
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px) translateX(-60px);
    transform: translateY(-60px) translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px) translateX(-60px);
    -ms-transform: translateY(-60px) translateX(-60px);
    transform: translateY(-60px) translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0);
    -ms-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/******FADEIN DOWN END****/

body a:hover{text-decoration: none;}


/******************* Responsive css Begins ******************/
@media only screen and (max-width:340px) {
  
  
}
