/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face { font-family: 'Gotham'; src: url('../fonts/gotham-black.ttf'); } 



/*RESET CSS BEGINS*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output,ruby, section, summary,time, mark, audio, video {margin: 0;
padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/*RESET CSS ENDS*/

/*General Body CSS*/
body {font-family: 'Roboto', sans-serif; background-color: #000;color: #fff;border: none !important;}
body, header, footer, .content_wrapper, .content_wrapper .home, .content_wrapper .about, .content_wrapper .schdl, .content_wrapper .speakers, .content_wrapper .workshops, .content_wrapper .competitions, .content_wrapper .extras, .content_wrapper .partners, .content_wrapper .venue_sec, .content_wrapper .contact{width: 100%; height: auto;border: none;display: block;}

@font-face {
    font-family: gothamBlack;
    src: url(../fonts/gotham-black.ttf);
}

/*Header Navigation Css*/
.main_header{border: 0;background: rgba(21, 21, 30, 0.8);padding: 14px 100px 10px;position: fixed;top: 0;z-index: 1200;border: none;}
.main_header .nid_logo{display:block;float:left;margin:0;width:40%;height:40px;z-index:20;}

.nid-logo-img {
  height: 30px;
  width: 210px;
  display: inline-block;
  background: url('../img/NID_white_logo.png') left no-repeat;
  background-size: auto 100%;
}

.main_header .main_menu{display:block;float:right;margin:0;width:70%;height:40px;z-index:20;text-align: right;padding-top: 10px;}
.main_header .main_menu p{display: block;float: left;height: 100%;width: 100%;vertical-align: bottom;margin: 10px 0;}

/*Content Wrapper css*/
.content_wrapper{/*max-height: 4500px;*/overflow-y: hidden;}

/*Menu elements start here*/

.open {position: fixed;top: 12px;right: 40px;width: 50px;height: 50px;display: block;cursor: pointer;z-index: 20;-webkit-transition: opacity 0.2s linear;transition: opacity 0.2s linear;}
.open:hover {opacity: 0.8;}
.open span {display: block;float: left;clear: both;height: 3px;width: 30px;border-radius: 40px;background-color: #fff;position: absolute;right: -5px;top: 3px;z-index: 19;overflow: hidden;-webkit-transition: all 0.4s ease;transition: all 0.4s ease;}
.open span:nth-child(1) {margin-top: 10px;z-index: 19;}
.open span:nth-child(2) {margin-top: 20px;z-index: 19;}
.open span:nth-child(3) {margin-top: 30px;z-index: 19;}
.sub-menu {-webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);height: 0;width: 0;right: 0;top: 20px;position: absolute;background-color: rgba(152, 44, 255,0.9);border-radius: 1%;z-index: 23;overflow: hidden;}
.sub-menu li {display: block;float: right;clear: both;height: auto;margin-right: -160px;-webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);}
.sub-menu li:first-child {margin-top: 220px;}
.sub-menu li:nth-child(1) {-webkit-transition-delay: 0.05s;}
.sub-menu li:nth-child(2) {-webkit-transition-delay: 0.10s;}
.sub-menu li:nth-child(3) {-webkit-transition-delay: 0.15s;}
.sub-menu li:nth-child(4) {-webkit-transition-delay: 0.20s;}
.sub-menu li:nth-child(5) {-webkit-transition-delay: 0.25s;}
.sub-menu li:nth-child(6) {-webkit-transition-delay: 0.35s;}
.sub-menu li:nth-child(7) {-webkit-transition-delay: 0.35s;}
.sub-menu li:nth-child(8) {-webkit-transition-delay: 0.40s;}
.sub-menu li:nth-child(9) {-webkit-transition-delay: 0.45s;}
.sub-menu li:nth-child(10) {-webkit-transition-delay: 0.50s;}
.sub-menu li a {color: #fff;font-family: 'Roboto';font-size: 1.2em;width: 100%;display: block;float: left;line-height: 55px;}
.oppenned .sub-menu {opacity: 1;height: 1000px;width: 600px;}
.oppenned span:nth-child(2) {overflow: visible;}
.oppenned span:nth-child(1), .oppenned span:nth-child(3) {z-index: 100;-webkit-transform: rotate(45deg);transform: rotate(45deg); height: 5px;}
.oppenned span:nth-child(1) {-webkit-transform: rotate(45deg) translateY(12px) translateX(12px);transform: rotate(45deg) translateY(12px) translateX(12px);}
.oppenned span:nth-child(2) {height: 1000px;width: 580px;right: -400px;top: -170px;border-radius: 2%; transform:rotate(-15deg); background-color: rgba(152, 44, 255, 1);}
.oppenned span:nth-child(3) {-webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px);transform: rotate(-45deg) translateY(-3px) translateX(2px);}
.oppenned li {margin-right: 350px;}
.button {display: block;float: left;clear: both;padding: 20px 40px;background: #fff;border-radius: 3px;border: 2px solid #10a1ea;overflow: hidden;position: relative;}
.button:after {-webkit-transition: -webkit-transform 0.3s ease;transition: -webkit-transform 0.3s ease;transition: transform 0.3s ease;transition: transform 0.3s ease, -webkit-transform 0.3s ease;content: "";position: absolute;height: 200px;width: 400px;-webkit-transform: rotate(45deg) translateX(-540px) translateY(-100px);transform: rotate(45deg) translateX(-540px) translateY(-100px);background: #10a1ea;z-index: 20;}
.button:before {-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition: -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);content: attr(title);position: absolute;top: 0;left: 0;width: 100%;height: 100%;color: #fff;z-index: 19;text-align: center;padding: 20px 40px;-webkit-transform: translateY(200px);transform: translateY(200px);}
.button:hover {text-decoration: none;}
.button:hover:after {-webkit-transform: translateX(-300px) translateY(-100px);transform: translateX(-300px) translateY(-100px);}
.button:hover:before {-webkit-transform: translateY(0);transform: translateY(0);}
/*Menu elements end here*/

/*Fixed menu CSS*/
#menu li {
  display: inline;
  position: relative;
}

#menu li a:after {
  content: '';
  position: absolute;
  bottom: -23px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #17FFDD;
  opacity: 0;
  transition: 0.2s ease;
}
#menu li a.hidden:after {
  display: none;
}

#menu li.current a:after {
  opacity: 0.8;
  transition: 0.2s ease;
  }

#menu a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 8px 8px 8px;
}
#menu a:hover{
    color: #17ffdd;
}

.hidden {
  display: none;
}
/*Fixed menu CSS ends here*/

/*Home Section Css*/
.content_wrapper .home{display: block;float: left;background:url(../img/star_tiny.png) no-repeat center/cover;height: auto;width: 100%;padding: 80px 100px;position: relative;}
.home .logo_container, .home .register_btn, .home .options{display: block;float: left;width: 100%;height: auto;border: none;text-align: center;padding: 0 0 40px;}
.home .register_btn a {border: 1px solid #982cff;color: #17ffdd;font-family: 'Gotham', sans-serif;font-size: 24px;padding: 15px 30px;margin: 0;text-decoration: none;vertical-align: middle;}
.home .register_btn a:hover{background: #17ffdd;color: #982cff;}
.home .register_btn{border: none;position: relative;z-index: 20;padding: 40px;}
.home .options{display: block;float: left;width: 100%; height: auto;border: none;position: relative;z-index: 20;}
/*.home .options .date, .home .options .venue, .home .options .schedule{display: block;float: left;width: 33.33%; height: auto;}
.home .options .date a, .home .options .venue a, .home .options .schedule a{display: block;float: left;width: 100%;height: auto;color: #fff;cursor: pointer;}
.home .options .date a i, .home .options .venue a i, .home .options .schedule a i{font-size: 4em;width: 100%;margin-bottom: 25px;color: #982cff;}
.home .options .date a span, .home .options .venue a span, .home .options .schedule a span{width: 100%;text-align: center;font-size: 1.3em;font-family: 'Roboto';}
*/
#date, #venue{
  color: #ffffff;
  font-family: 'Roboto', sans-serif; font-weight: 500;
}
  #home .shadow-overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: .9;
  background: -moz-linear-gradient(left, black 0%, black 20%, transparent 100%);  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, black 0%, black 20%, transparent 100%);  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, black 0%, black 20%, transparent 100%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);  /* IE6-9 */}
#home .row {max-width: 1290px;}
#home.home-static {-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;}
#home.home-particles {overflow: hidden;background: #020507;}
#home.home-particles .pg-canvas {position: absolute;top: 0;left: 0;height: 100% !important;width: 100% !important;opacity: .50;background: url('../img/star_tiny.png') no-repeat center/ cover;z-index: 1 !important;}
#home.home-particles .shadow-overlay {display: none;}
#home.home-slides {height: 100% !important;}
#menu_content {transform:rotate(15deg); float: right; margin-right: 15px;}

.home {
  z-index: 1000;
}

@-webkit-keyframes vertical {
  0%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
  20% {-webkit-transform: translateY(-5px);}
  40% {-webkit-transform: translateY(20px);}
}
@keyframes vertical {
  0%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
  20% {-webkit-transform: translateY(-5px);}
  40% {-webkit-transform: translateY(20px);}
}

/* DFrost Logo css */
.home .logo_container {display: block; float:left; height: 100%;min-height: 450px; width: 100%; margin:-70px 0 60px 0;position: relative;}
.home .logo_container #logo_back {display:block;float: left;position: absolute; z-index: 8; background: url("../img/layer1.svg") no-repeat 10px 10px/30%;top: 80px; left: 45%; margin-left: -130px; height: inherit; width: inherit; -moz-animation-duration: 1s;   -webkit-animation-duration: 1s;   animation-duration: 1s;}
.home .logo_container #logo_mid {display:block;float: left;position: absolute; z-index: 9; background: url("../img/layer2.svg") no-repeat 10px 10px/30%;top: 80px; left: 45%; margin-left: -130px; height: inherit; width: inherit; -moz-animation-duration: 2s;   -webkit-animation-duration: 2s;   animation-duration: 2s;}
.home .logo_container #logo_front {display:block;float: left;position: absolute; z-index: 10; background: url("../img/layer3.svg") no-repeat 10px 10px/30%;top: 80px; left: 45%; margin-left: -130px; height: inherit; width: inherit; -moz-animation-duration: 3s;  -webkit-animation-duration: 3s;   animation-duration: 3s;}

.home .dfrost-logo {
  width: 450px;
  height: 450px;
  background: url('../img/logo.svg') center center no-repeat;
  background-size: contain;
  display: block;
  margin: 0 auto;
  z-index: 1000;
  position: center;
}

.sponsor2 {
  width: 200px;
  display: block;
  position: absolute;
  top: 400px;
  right: 0;
  margin-right: 350px;

}

/*.home #calendar {background: url("../img/icons/calendar.svg") no-repeat}
.home #venue {background: url("../img/icons/location.svg") no-repeat}
.home #schedule {background: url("../img/icons/schedule.svg") no-repeat}*/
.home .options img {width: 50px;}
.home .options a div, .home .options a span{display: block;float: left;width: 100%;height: auto;}
.home .options a span{margin-top: 20px;}

/* Timer CSS*/
#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 70;
  text-align: center;
  font-size: 20px;
}

#clockdiv > div{
  border-radius: 3px;
  display: inline-block;
  margin: 5px;
}

#clockdiv div > span{
  padding: 2px;
  border-radius: 3px;
  border-bottom: 3px solid #6920b1;
  display: inline-block;
  color: #17ffdd;
}

.ticket_sale{
   padding-top: 20px;
  font-size: 16px;
}

.smalltext{
  padding-top: 5px;
  font-size: 10px;
  color: #17ffdd;
}
/*Timer CSS ends*/


.content_wrapper .section_body{display: block;float: left;width: 100%;}

/*About Section*/
.content_wrapper .about{display: block; height: 720px;width: 100%;}
.content_wrapper .about .about_cutout{display: block;float: left;/*background:url(../img/Final_backgrounds/About-Holder.png) no-repeat center 0/100%;*/ width: 62%;height: 100%;position: relative;left: 0; padding: 200px 100px 70px;}
.content_wrapper .about .about_cutout h2{display:block;float: left;font-size: 3em;color: #FF00C3;width: 100%;margin-bottom: 20px;font-family: 'Gotham', sans-serif;}
.content_wrapper .about .about_cutout p{display:block;/*float: left;*/font-size: 1em;line-height: 1.6em;color: #999;width: 45%;margin-bottom: 20px;text-align: left;}

.content_wrapper .about {
  background:url(../img/Final_backgrounds/BG-About.jpg) no-repeat center top/100%;
  background-size: cover;
}

.content_wrapper .about .about_cutout {
  position: relative;
  width: 100%;
}

.about-content {
  z-index: 10;
  position: relative;
}

.content_wrapper .about .about_cutout .bg-holder {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  height: 720px;
  width: 100%;
}

.content_wrapper .about img {
  /*float: left;*/
  position: absolute;
  /*height: 720px;*/
  display: inline-block;
}

.content_wrapper .about .about-img-1 {
  position: absolute;
  left: 0;
  width: 60%;
  bottom: 0;
}


.content_wrapper .about .about-img-2 {
  position: absolute;
  right: 0;
  top: 719px;
  width: 40%;
}


/*Schedule Section css*/
.content_wrapper .schdl{display: block;width: 100%;overflow: hidden;}

.content_wrapper .schdl {
  background:url(../img/Final_backgrounds/BG-Schedule.jpg) no-repeat center top/100%;
  background-size: cover; 
}


.content_wrapper .schdl .schdl_cutout1{display: block;float: right;/*background:url(../img/Final_backgrounds/Schedule-Holder.png) no-repeat center top/100%;*/ width: 38%;position: relative;top: 0;right: 0;padding:  235px 7% 0 7%;}

.content_wrapper .schdl .schdl_cutout2{position: relative;}

.day2-cutout-img {
  position: absolute;
  top: 0;
  left: -105px;
  height: 840px;
}

.content_wrapper .schdl .schdl_cutout1 h2{display:block;float: left;font-size: 3em;color: #FFFFFF;width: 100%;text-align: right;font-family: 'Gotham', sans-serif;}
.content_wrapper .schdl .day1{display: block;padding: 100px 0 220px 100px;}
.content_wrapper .schdl .day1 h3{display: block;font-family: 'Gotham', sans-serif;font-size:3em;color: #FF00C3;width: 100%;margin-bottom: 40px;}
.content_wrapper .schdl .schdl_cutout2 .day2{display: block;width: 100%;position: relative;color: #141414;padding: 120px 0 60px 100px; z-index: 10;}
.content_wrapper .schdl .schdl_cutout2 .day2 h3{display: block;float: left;font-family: 'Gotham', sans-serif;font-size:3em;color: #141414;width: 100%;margin-bottom: 40px;}
.content_wrapper .schdl .download_schedule{display: block;float: right;position: relative;top: -170px;width: 280px;text-align: center;margin-right: 70px;}
.content_wrapper .schdl .download_schedule a{font-size: 1.4em;display: block;float: right;width: 100%;padding: 10px;border: 1px solid;border-style: dashed;line-height: 1.4em;border-radius: 8px;color:rgba(255,255,255, 0.7);cursor: pointer;}
.content_wrapper .schdl .download_schedule a:hover{color:rgba(255,255,255, 0.88);}
.content_wrapper .schdl .sub_hd .left{font-size: 2em;font-weight: bold;}
.content_wrapper .schdl .sub_hd .sep{font-size: 2em;font-weight: bold;padding: 0 6px;}
.content_wrapper .schdl .day1 .event_ls .low{font-style: italic;color:rgba(255,255,255, 0.7);}
.content_wrapper .schdl .day2 .event_ls .low{font-style: italic;color:rgba(0,0,0, 0.7);}
.content_wrapper .schdl .day1 .sub_hd, .content_wrapper .schdl .day1 .event_ls .time{color: #00FFE2;}
.content_wrapper .schdl .day2 .sub_hd, .content_wrapper .schdl .day2 .event_ls .time{color: #FF00C3;}
.content_wrapper .schdl .day1 .schdl_cnt, .content_wrapper .schdl .day2 .schdl_cnt{margin-bottom: 30px;}
.content_wrapper .schdl .day1 .sub_hd, .content_wrapper .schdl .day2 .sub_hd{margin-bottom: 20px;}
.content_wrapper .schdl .day1 .event_ls .time, .content_wrapper .schdl .day2 .event_ls .time{margin-right: 20px;}
.content_wrapper .schdl .day1 .event_ls .high, .content_wrapper .schdl .day2 .event_ls .high{margin-right: 10px;display: inline-block;}
.content_wrapper .schdl .day1 .event_ls, .content_wrapper .schdl .day2 .event_ls{line-height: 1.4em;}
.content_wrapper .schdl .event_ls .lab{width: 180px;}
.content_wrapper .schdl .event_ls .tlk{width: 180px;}
.content_wrapper .schdl .event_ls .evt{width: 180px;}

.download-schdl a {
   background-color: transparent;
   border: 2px solid #FF00C3;
   display: inline-block;
   padding: 16px 22px;
   color: #FF00C3;
   font-weight: 600;
   font-size: 16px;
   margin-top: 36px;
   transition: 0.2s;
 }
 
 .download-schdl a:hover {
   background-color: #FF00C3;
   display: inline-block;
   transition: 0.2s;
   color: white;
 }



/*
.content_wrapper .schdl .section_icon{display: block;float: left;width: 15%;height: auto;}
.content_wrapper .schdl .section_icon .ico{display: block;float: left;width: 100%;height: 100%;}*/

/*Speakers Section css*/
.content_wrapper .speakers{display: block;width: 100%;}
.content_wrapper .speakers {
  background:url(../img/Final_backgrounds/BG-dTalks.jpg) no-repeat center top/100%;
  background-size: cover; 
}
.content_wrapper .speakers .speaker_cutout{display: block;float: left; width: 47%;height: 100%;position: relative;left: 0;padding: 380px 0 0 170px;}
.speaker a {display: inline-block; text-decoration: underline; color: #9c39f3;}
.speaker-cutout-img {
  position: absolute;
  top: 0;
  left: -1257px;
  
}

.content_wrapper .speakers .speaker_cutout h2{display:block;float: left;font-size: 3em;color: #00FFE2;width: 100%;font-family: 'Gotham', sans-serif;position: relative;z-index: 20;}
.content_wrapper .speakers .first_row, .content_wrapper .speakers .second_row{display: block;float: right;margin-top: 160px;position: relative;}
.content_wrapper .speakers .first_row{width: 60%;}



.content_wrapper .speakers .second_row{width: 60%;}
// .content_wrapper .speakers .first_row > div:nth-child(1){margin-left: 245px;}
// .content_wrapper .speakers .first_row > div:nth-child(3),.content_wrapper .speakers .first_row > div:nth-child(4),.content_wrapper .speakers .first_row > div:nth-child(5){margin-top: 200px;}
.content_wrapper .speakers .first_row .speaker{display: block;float: left;width: 200px;text-align: center;margin:0 45px 0 0;}
.content_wrapper .speakers .second_row .speaker{display: block;float: left;width: 200px;text-align: center;margin:0 45px 0 0;}
.content_wrapper .speakers .speaker img, .content_wrapper .speakers .speaker span.des{display:block;width:100%;height:auto;margin-bottom: 20px;}
.content_wrapper .speakers .speaker span.des, .content_wrapper .speakers .speaker h4{color: #00FFE2;}
.content_wrapper .speakers .speaker span.des{font-size: 0.9em;}
.content_wrapper .speakers .speaker h4{font-size: 1.3em;margin-bottom: 5px;}
.content_wrapper .speakers .speaker p{display: block;width: 100%;text-align: left;font-size: 0.8em;line-height: 1.4em;}

.content_wrapper .speakers .first_row {
  text-align: right;
  margin-right: 100px;
  margin-bottom: 120px;
}

.content_wrapper .speakers .first_row .speaker {
  display: inline-block;
  float: none;
  margin-left: 36px;
  margin-right: 0;
  margin-bottom: 48px;
  width: auto;
}

.content_wrapper .speakers .first_row .speaker img {
  max-width: 220px;
  height: auto;
  width: 100%;
  display: block;
  margin: 0 auto 20px;
}

.content_wrapper .speakers .first_row .col {
  width: 33%;
  display: inline-block;
  float: right;
}

.content_wrapper .speakers .first_row .col p, .content_wrapper .speakers .first_row .col h4, .content_wrapper .speakers .first_row .col span.des {
  text-align: left; 
  max-width: 220px;
}

.content_wrapper .speakers .first_row .col span.des {
  margin-bottom: 8px;
}

.content_wrapper .speakers .first_row .col p {
  line-height: 1.5  ;
}

.content_wrapper .speakers .first_row .col1 {
  margin-top: 120px;
}

.content_wrapper .speakers .first_row .col3 {
  padding-top: 180px;
}

.content_wrapper .speakers .speaker_cutout {
  width: auto;
}

.content_wrapper .speakers {
  overflow: hidden;
}

/*.content_wrapper .speakers .section_icon{display: block;float: left;width: 15%;height: auto;}
.content_wrapper .speakers .section_icon .ico{display: block;float: left;width: 100%;height: 100%;}*/

.featured {
  background: url('../img/Final_backgrounds/BG-Extras.jpg') center center no-repeat;
  background-size: cover;
  padding: 40px 100px;  
  background-attachment: fixed;
}

.featured h3 {
  font-size: 24px;
  color: white;
  z-index: 100;
  position: absolute;
  padding-bottom: 16px;
  padding-left: 16px;
  bottom: 0;
}

.featured .main {
  width: 600px;
  margin: 0 auto;
  padding-top: 40px;
}

.featured-sub:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 160px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.8)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.featured-sub {
  width: 300px;
  position: relative;
  padding: 0 8px;
}

.featured img {
  width: 100%;
}

.featured-others {
  width: 100%;
  padding: 20px 100px;
}

.featured-others .featured-sub {
  display: inline-block;
  width: 33%;
  height: 200px;
  overflow: hidden;
}

.content_wrapper .dlabs{display: block;width: 100%;overflow: hidden;/*height: 1000px;*/background:url(../img/Final_backgrounds/4k-solid.jpg) no-repeat center top/100%;
  background-size: cover;position: relative;}
.dlabs .dlabs_cutout_img{position: absolute;right: -1px;height: 1000px;top: 0;}
.dlabs .dlabs_cnt {display: block;float: left;width: 80%;padding:100px;}
.dlabs .dlabs_cnt .day11{background:url(../img/Workshop-Bamboo.png) no-repeat center top/100%;width: 768px;height: 173px; padding: 30px 35px 10px 200px;}
.dlabs .dlabs_cnt .day12{background:url(../img/Workshop-Visual-Art.png) no-repeat center top/100%;width: 768px;height: 173px; padding: 30px 35px 10px 200px;}
.dlabs .dlabs_cnt .day13{background:url(../img/Workshop-Mapbox.png) no-repeat center top/100%;width: 768px;height: 173px; padding: 30px 35px 10px 200px;}
.dlabs .dlabs_cnt .day21{background:url(../img/Workshop-Design-Sprint.png) no-repeat center top/100%;width: 768px;height: 173px; padding: 30px 35px 10px 200px;}
.dlabs .dlabs_cnt .day22{background:url(../img/Workshop-Biomimicry.png) no-repeat center top/100%;width: 768px;height: 173px; padding: 30px 35px 10px 200px;}
.dlabs .dlabs_cnt .day23{background:url(../img/Workshop-Paper.png) no-repeat center top/100%;width: 768px;height: 173px; padding: 30px 35px 10px 200px;}
.dlabs .dlabs_cnt  h3{color: #982cff;margin-bottom: 10px;}
.dlabs .dlabs_cnt  h3 p{color: #999; display: inline; font-style: italic;}
.dlabs .dlabs_cnt  p{color: #999; line-height: 1.25em;}
.dlabs_cut_heading{display: block;float: right;width: 20%;padding: 250px 0 0 20px;}
.content_wrapper .dlabs h2 {display: block;float: right;font-size: 3em;
    color: #00FFE2;
    width: 100%;
    font-family: 'Gotham';
    position: relative;
    z-index: 20;

}

.dlabs .dlabs_cnt {
  width: 800px;
  padding-right: 40px;
}

.dlabs .dlabs_cnt .day {
  background: none;
  padding: 0;
  width: 100%;
}

.dlabs .dlabs_cnt .day img {
  display: inline-block;
  height: 150px;
  width: auto;
}

.dlabs .dlabs_cnt .day .content {
  width: 75%;
  padding-left: 18px;
  padding-top: 24px;
  padding-bottom: 20px;
  background-color: white;
  position: relative;
  height: 136px;
  margin-top: 7px;
}

.dlabs .dlabs_cnt .day .content:after {
  content: '';
  height: 136px;
  width: 33px;
  background: url('../img/edge.svg') center center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: -31px;
  top: 0;
}

.dlabs .dlabs_cnt .day img, .dlabs .dlabs_cnt .day .content {
  display: inline-block;
  float: left;
  position: relative;
}

.dlabs .dlabs_cnt .day img {
  z-index: 100;
  margin-right: -15px;
}

.dlabs .dlabs_cnt .day .content {
  z-index: 10;
  padding-left: 30px;
}

/*Footer css*/
.main_footer{display: block;float: left;width: 100%;padding: 30px 100px;height: auto;background: #141414;color: #8d8d8d;border: none;}
.main_footer .social_wrap, .main_footer .footer_content{display: block;float: left;}
.main_footer .footer_content{width: 85%;height: auto;}
.main_footer .social_wrap{width: 15%;height: auto;}
.main_footer .social_wrap ul li a i{font-size:1.4em;color:#8d8d8d;}
.main_footer .social_wrap ul li a:hover i{color:#17ffdd;}
.main_footer .social_wrap ul{display: block;}
.main_footer .social_wrap ul li{display: inline-block;width: 18%;}

/*fadeInup class for background set*/
.revealOnScroll {
  opacity: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px) translateX(60px);
    transform: translateY(60px) translateX(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0px);
    transform: translateY(0) translateX(0px);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px) translateX(60px);
    -ms-transform: translateY(60px) translateX(60px);
    transform: translateY(60px) translateX(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0px);
    -ms-transform: translateY(0) translateX(0px);
    transform: translateY(0) translateX(0px);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
/******FADEIN UP END****/

/******FADEIN DOWN START****/
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px) translateX(-60px);
    transform: translateY(-60px) translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px) translateX(-60px);
    -ms-transform: translateY(-60px) translateX(-60px);
    transform: translateY(-60px) translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0);
    -ms-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/******FADEIN DOWN END****/

/*******Venue CSS Begins******/
.content_wrapper .venue{display: block;float: left;width: 100%;height: auto;background-color: #f0ffff;}
.content_wrapper .venue .venue_cnt, .content_wrapper .venue .map{display: block;float: left;width: 50%;padding: 100px;}
.content_wrapper .venue .venue_cnt{color: #141414;}
.content_wrapper .venue h2 {font-size: 3em;color: #FF00C3;width: 100%;margin-bottom: 30px;font-family: 'Gotham', sans-serif;}
.content_wrapper .venue p{font-size: 1.2em;margin-bottom: 20px; padding: 10px;}
.content_wrapper .venue p.content{line-height: 1.4em;}
.content_wrapper .venue p span{font-weight: bold;}
.maps {margin-left: 12px; font-weight: 700;}

/*******Competitions CSS Begins******/
.content_wrapper .competitions{display: block;width: 100%;height: 600px;background: url('../img/Final_backgrounds/BG-Schedule.jpg') no-repeat center top/100%;background-size: 100% auto;background-size: cover;padding: 100px;}
.content_wrapper .competitions h2 {font-size: 3em;color: #fff;width: 50%;margin-bottom: 40px;font-family: 'Gotham', sans-serif;line-height: 1.2em;}
.content_wrapper .competitions .com_content, .content_wrapper .competitions .com_img{display: block;float: left;}
.content_wrapper .competitions .com_img{height: auto;width: 60%;padding: 100px 0px 100px 50px;position: relative;}
.content_wrapper .competitions .com_content{width: 40%;}
.painting, .photography{width: 48%;padding: 20px;max-width: 340px;}
.content_wrapper .competitions .com_content p{margin-bottom: 30px;line-height: 1.4em;}
.content_wrapper .competitions .com_content p .color{color: #00FFE2;}
.photography{position: absolute;top: 150px;}

/*******Gallery CSS Begins******/
.content_wrapper .gallery{display: block;float: left;width: 100%;height: 600px;background-color: #fff;padding: 100px;}
.content_wrapper .gallery h2 {font-size: 3em;color: #982cff;;width: 100%;margin-bottom: 30px;font-family: 'Gotham', sans-serif;}
.content_wrapper .gallery .gallery_cnt{display: block;width: 100%;padding: 100px;}

.content_wrapper .competitions {
  border-bottom: 6px solid #FF00C3;
}

.content_wrapper .gallery {
  background: url('../img/gallery-collage-tiny.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*******Partners CSS Begins******/
.content_wrapper .partners{display: block;float: left;width: 100%;height: auto;background: #fff; /*url(../img/Final_backgrounds/images/bg_08.jpg) no-repeat center top/100%;background-size: 100% auto;background-size: cover;*/}
.content_wrapper .partners h2 {font-size: 3em;color: #141414;width: 100%;margin-bottom: 30px;font-family: 'Gotham', sans-serif;}
.content_wrapper .partners .partner_cnt{display: block;float: left;/*width: 50%;*/padding: 100px;}
.content_wrapper .partners .partner_pics{/*padding: 100px 0 50px 300px;*/ display: inline-block;}
.content_wrapper .partners .partner_cnt img {height: 100px; padding: 15px; padding-left: 0; padding-right: 30px;
}


/*******Extras CSS Begins******/
.content_wrapper .extras h2 {font-size: 3em;color: #fff;width: 100%;margin-bottom: 30px;font-family: 'Gotham', sans-serif;position: relative;z-index: 20;}

.content_wrapper .extras{display: block;width: 100%;overflow: hidden;/*height: 1000px;*/background:url(../img/Final_backgrounds/BG-Extras.jpg) no-repeat center top/100%;
  background-size: cover;position: relative;}
.extras .extras_cutout_img{position: absolute;left: 0;height: 500px;}
.extras .extras_heading{display: block;float: left;width: 20%;padding:70px 100px;}
.extras .dlabs_cnt{display: block;float: left;width: 80%;padding: 100px;padding: 100px 100px 0 200px;}
.extras .dlabs_cnt .day1{display: block;
float: left;
height: 200px;
width: 100%;margin-bottom: 20px;
}
.extras .dlabs_cnt .day1 img{width: 150px;float: left;margin-right: 40px;}
.extras .dlabs_cnt .day1 .content p{margin-bottom: 20px; line-height: 1.25em;}
.extras .dlabs_cnt .day1 .content h3{margin-bottom: 30px;color:#00FFE2;font-size: 1.2em; }


body a:hover{text-decoration: none;}


/******************* Responsive css Begins ******************/





@media only screen and (max-width: 1400px) {
  .home .dfrost-logo {
    width: 350px;
    height: 350px;
  }
}

@media only screen and (max-width: 1280px) {

  .sponsor2 {
  width: 20%;
  display: block;
  position: unset;
  margin: 0 auto;
  }

  .day2-cutout-img {
    left: -140px;
  }
  .speaker-cutout-img {
    left: -1398px;
  }
  .content_wrapper .speakers .speaker_cutout {
    padding: 170px 0 0 100px;
  }
  .nid-logo-img {
    width: 40px;
  }
  .main_header .main_menu {
    width: 90%;
  }
  .dlabs .dlabs_cnt {
    width: 650px;
  }
  .dlabs .dlabs_cnt .day img {
    height: 176px;
  }
  .dlabs .dlabs_cnt .day .content {
    width: 65%;
    height: 176px;
    margin-top: 0;
  }
  .dlabs .dlabs_cnt .day .content:after {
    height: 176px;
    width: 42px;
    right: -36px;
  }
  .dlabs .dlabs_cnt .day {
    height: 200px;
  }
  .featured-others .featured-sub {
    width: 32.8%;
  }

}

@media only screen and (max-width: 992px) {
  .main_header, .home, .content_wrapper .about .about_cutout, .content_wrapper .about .about_cutout, .content_wrapper .schdl .day1, .content_wrapper .schdl .schdl_cutout2 .day2, .content_wrapper .schdl .schdl_cutout1, .content_wrapper .partners .partner_cnt {
    padding-left: 30px;
    padding-right: 30px;
  }

  .main_header {
    height: 76px;
  }
  .nid-logo-img {
    margin-top: 7px;
  }
  .content_wrapper .home {
    padding-left: 30px;
    padding-right: 30px;
  }

  .home .register_btn {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .home .register_btn a {
    display: block;
  }

  .home .dfrost-logo {
    width: 250px;
    height: 250px;
    /*margin: 60px auto;*/
  }

  .content_wrapper .about .about_cutout h2, .content_wrapper .schdl .schdl_cutout1 h2 {
    font-size: 36px;
  }

  .content_wrapper .schdl .day1 h3, .content_wrapper .schdl .schdl_cutout2 .day2 h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .content_wrapper .about .about_cutout p {
    font-size: 13px;
  }

  .content_wrapper .schdl .day1 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .content_wrapper .about {
    height: auto;
    position: relative;
    background: white;
    
  }
  .content_wrapper .about:after {
    content: '';
    background: white;
    height: 130px;
    width: 120%;
    display: block;
    transform: rotate(-7deg); 
    position: absolute;
    bottom: -50px;
    left: -10%;
    right: -10%;
  }
  .content_wrapper .about .about_cutout {
    padding-top: 40px;
    padding-bottom: 10px;
    height: auto;
    float: none;
  }
  .content_wrapper .about .about_cutout p {
    width: 100%;
  }
  .content_wrapper .about .about-img-1 {
    transform: rotate(90deg);
    position: absolute;
    left: auto;
    top: -640px;
    right: 0;
  }
  .content_wrapper .about .about_cutout .bg-holder {
    position: absolute;
    bottom: 0;
    height: 0;
  }
  .content_wrapper .section_body {
    overflow: hidden;
  }
  .content_wrapper .about .about-img-1, .content_wrapper .about .about-img-2 {
    display: none;
  }
  .content_wrapper .about .about_cutout .bg-holder {
    height: auto;
  }
  .content_wrapper .schdl .schdl_cutout1 {
    float: none;
    padding-top: 130px;
    width: auto;
  }
  .content_wrapper .schdl .schdl_cutout1 h2 {
    float: none;
    text-align: left;
    font-size: 36px;

  }
  .content_wrapper .schdl .schdl_cutout2 .day2 {
    padding-top: 40px;
    padding-left: 15px;
  }
  .day2-cutout-img {
    display: none;
  }
  .content_wrapper .schdl .day1 {
    width: 50%;
    display: inline-block;
    float: left;
    padding-right: 15px;
  }
  .content_wrapper .schdl .schdl_cutout2 {
    width: 50%;
    display: inline-block;
  }
  .content_wrapper .schdl .schdl_cutout2 .day2 h3 {
    color: #FE07BB;
  }

  .content_wrapper .schdl .day1 h3 {
    color: #17FFDD;
  }

  .content_wrapper .schdl .day1 .event_ls .low {
    display: block;
  }

  .content_wrapper .schdl .day2 .sub_hd {
     opacity: 0;
  }
  .content_wrapper .schdl .day1 .event_ls, .content_wrapper .schdl .day2 .event_ls {
    font-size: 13px;
    margin-bottom: 12px;
  }
  .content_wrapper .schdl .day2 .event_ls .low {
    color: white;
  }
  .content_wrapper .schdl .day2 .event_ls .high {
    color: white;
  }
  .content_wrapper .schdl .sub_hd .sep {
    display: none;
  }
  .content_wrapper .schdl .sub_hd .left, .content_wrapper .schdl .sub_hd .right {
    display: block;
  }
  .content_wrapper .schdl .sub_hd .left {
    font-size: 22px;  
  }
  .content_wrapper .schdl .sub_hd .right {
    line-height: 1.4;
    margin-top: 4px;
  }
  .content_wrapper .schdl .day1 .sub_hd {
    margin-bottom: 14px;
  }
  .content_wrapper .speakers .speaker_cutout {
    padding: 40px 30px;
  }
  .speaker-cutout-img {
    display: none; 
  }
  .content_wrapper .speakers {
    position: relative;
  }
  .speakers:before {
    content: '';
    display: block;
    width: 120%;
    height: 200px;
    background-color: #9C39F3;
    position: absolute;
    top: -100px;
    left: -10%;
    right: -10%;
    transform: rotate(-9deg);
  }
  .content_wrapper .speakers .first_row {
    margin: 0;
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 30px;
    width: 100%;
  }
  .content_wrapper .speakers .first_row .col {
    float: none;
    display: block;
    width: 100%;
    margin-left: -10px;
    }
  .content_wrapper .speakers .first_row .col1,   .content_wrapper .speakers .first_row .col2,   .content_wrapper .speakers .first_row .col3 {
    margin-top: 0;
    padding-top: 0;
  }
  .content_wrapper .speakers .first_row .speaker {
    margin-left: 0; 
    display: inline-block;
    width: 49%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 25px;
  }
  .content_wrapper .speakers .speaker_cutout h2 {
    font-size: 36px;
  }
  .content_wrapper .speakers .first_row .col p {
    display: none;
  }
  .content_wrapper .speakers .first_row .speaker img {
    margin: 0;
    margin-bottom: 20px;
    width: 70%;
  }
  .dlabs .dlabs_cutout_img {
    display: none;
  }
  .dlabs .dlabs_cnt {
    padding: 30px 30px 20px;
    width: 100%;
  }
  .dlabs_cut_heading {
    width: 100%;
    float: none;
    padding: 40px 30px;
  }
  .content_wrapper .dlabs_cut_heading h2 {
    float: none;
    font-size: 36px;
  }
  .dlabs .dlabs_cnt .day {
    width: 49%;
    display: inline-block;
    height: 266px;
    background-color: white;
    margin-bottom: 4px;
  }
  .dlabs .dlabs_cnt .day .content {
    height: auto;
    width: auto;
    padding: 16px 12px;
  }
  .dlabs .dlabs_cnt .day .content h3 {
    margin-bottom: 0;
  }
  .dlabs .dlabs_cnt .day .content > p {
    display: none;
  }
  .dlabs .dlabs_cnt .day .content:after {
    display: none;
  }
  .dlabs .dlabs_cnt .day img {
    width: 100%;
    height: auto;
    width: 110%;
    top: -10px;
    max-height: 160px;
    max-width: 190px;
  }
  .content_wrapper .extras {
    display: none;
  }
  .content_wrapper .competitions {
    padding: 40px 30px;
    height: auto;
  }
  .content_wrapper .competitions .com_content {
    width: 100%;
  }
  .content_wrapper .competitions .com_content h2 {
    width: 100%;
    font-size: 36px;
  }
  .content_wrapper .competitions .com_content p {
    display: none;
  }
  .content_wrapper .dlabs:before {
    content: '';
    display: block;
    width: 120%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: -100px;
    left: -10%;
    right: -10%;
    transform: rotate(-9deg);
  }
  .content_wrapper .competitions .com_img {
    width: 100%;
    padding: 0;
  }
  .content_wrapper .competitions .com_img a {
    display: block;
  }
  .content_wrapper .competitions .com_img img {
    padding: 0;
    height: 200px;
    width: auto;
    position: static;
  }
  .content_wrapper .competitions .com_content, .content_wrapper .competitions .com_img {
    float: none;
  }
  .dlabs .dlabs_cnt .day {
    overflow: hidden;
  }
  .content_wrapper .gallery {
    height: 500px;
    background-position: 0;
  }
  .content_wrapper .partners .partner_cnt {
    padding-top: 40px;
  }
  .content_wrapper .partners h2 {
    width: 100%;
    font-size: 36px;
  }
  .content_wrapper .venue .venue_cnt {
    padding: 40px 30px;
    width: 100%;
  }
  .featured {
    padding: 40px 30px;
  }
  .featured .main {
    width: 100%;
    margin-bottom: 12px;
    padding: 0;
  }
  .featured-others {
    padding: 0;
  }
  .featured-others .featured-sub {
    width: 100%;
    height: auto;
    max-height: 200px;
    padding: 0;
  }
  .featured-sub {
    margin-bottom: 12px;
  }
  .content_wrapper .partners .partner_cnt img {
    height: 90px;
  }
  .main_footer {
    padding: 40px 30px;
  }
  .main_footer .footer_content, .main_footer .social_wrap {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    line-height: 1.4;
  }

  .content_wrapper .venue .venue_cnt, .content_wrapper .venue .map {display: block;float: left;width: 100%;padding: 30px;}

/*.sponsor2 {
  width: 50%;
  display: block;
  position: unset;
  margin: 0 auto;
  }*/
}

@media only screen and (max-width: 600px){
  .sponsor2 {
  width: 50%;  
  display: block;
  position: unset;
  margin: 0 auto;
  }
}